$primary: #5f4730;

.c__mainImage{
    background-image: url(https://png.pngtree.com/background/20230612/original/pngtree-picture-of-something-calm-and-peaceful-and-with-green-grass-and-picture-image_3185523.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 80vh;
}
@import "~bootstrap/scss/bootstrap";